.large-text {
    font-size: 3em;
}

.medium-text {
    font-size: 1.5em;

    .m-icon {
        vertical-align: -4px;
    }
}

.flex {
    display: flex;
    

    width: fit-content;
    margin: auto;
}

.medium-gap {
    padding: 10px;
}

.h-gap {
    margin-left: 5px;
    margin-right: 5px;
}

.h-centre {
    width: fit-content;
    margin: auto;
}